<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Vega</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="auth.loginWithRedirect()" *ngIf="(auth.isAuthenticated$ | async) === false">Log In</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="auth.logout()" *ngIf="auth.isAuthenticated$ | async">Log Out</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/vehicles']">Vehicles</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/vehicles/new']">New Vehicle</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="auth.idTokenClaims$ | async as user">
            <!--<a class="nav-link text-dark">{{ user.nickname }}</a>-->
            <a class="nav-link text-dark">{{ user.name }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="auth.idTokenClaims$ | async as user">
            <a class="nav-link text-dark">{{ user.email }}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="auth.idTokenClaims$ | async as user">
            <img [src]="user.picture" alt="User's profile picture" class="rounded-circle img-fluid profile-picture" style="width:25%;" />
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
